// Font Sizes
// Prefix: $font-size-*;FontSizesPrefix
$font-size-8: 8px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;

// Font Weights
// Prefix: $font-weight-*;FontWeightsPrefix
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;

// Line Heights
// Prefix: $line-height-*;LineHeightsPrefix
$line-height-8: 8px;
$line-height-16: 16px;
$line-height-18: 18px;
$line-height-20: 20px;
