@mixin logo-font($weight: 400) {
  font-family: lincoln-electric-regular, sans-serif;
  font-style: normal;
  font-weight: $weight;
  color: $white;
}

@mixin text-font($weight: 400) {
  font-family: noto-sans, sans-serif;
  font-style: normal;
  font-weight: $weight;
  color: $white;
}
